@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8FAFC;
  color: #0F172A;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #090E1A;
    color: #F8FAFC;
  }
}
